<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @streamer.name %> just started streaming.</h1>
    <a href="<%= stream_url(@stream) %>" >Click here to join</a>
  </body>
</html>
