.text-center
	%span{:style=>"color:white;"}This stream requires a password. 
	%br
	=form_tag("/streams/#{@stream.id}", :method=>"POST") do
		%input{:type=>"password", :name => "password"}
		%input{:type=>"submit"}
	:javascript
		$("form").on("submit", function(){
			e.preventDefault	
		});
